.indexhead{
    text-align: center;
    padding-bottom: 125px;
    padding-top: 125px;
    font-size: 40px;
}

button{
    height: 50px;
    width: 150px;
    margin: 0 auto;
    display: block;

}

.settingshead{
    text-align: center;
    font-size: 40px;
    padding-bottom: 75px;
}

.userinput{
    padding-left: 25px;
    padding-bottom: 125px;
}

.quithead{
    text-align: center;
    font-size: 40px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.optionhead{
    text-align: center;
    font-size: 40px;
    padding-bottom: 125px;
}

.optioninfo{
    padding-left: 125px;
    font-size: 20px;
    line-height: 1cm;

}

.flex-parent{
    display: flex;
}

.jc-center{
    justify-content: center;
}

button.margin-right{
    margin-right: 20px;
}

.endhead{
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.uploadpng{
    height: 25px;
    width: 25px;
}

.logbutton{
    width: 75%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.optionbutton{
    margin-bottom: 10px;
}

.all_user_inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.separate_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separate_box label{
    width: 60%;
}

.input_al{
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input_al input{
    width:70%;
}

.world_map_image{
    height: 475px;
    width: 475px;
    display: inline;
}

.option_and_quit{
    display: inline;
}

.container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: center;
    grid-gap: 1em;
    width: 30%;
    padding-left: 50px;
    padding-top: 50px;
    width:80%;
}

.home_live_info{
    width: 100%;
    padding-top: 20px;
    line-height: 30px;

}

.items{
    padding-right: 50px;
}

.parent_option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    width: 80%;
    line-height: 1cm;
}

.go_back{
    margin-top: 100px;
}